@{
    ViewBag.Title = "Index";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="pe-7s-trash fa-4x"></i>

                    <h1 class="m-xs">@ViewBag.total%</h1>

                    <h3 class="font-extra-bold no-margins text-warning">
                        Not Clean Trashes
                    </h3>
                    
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="pe-7s-angle-down-circle fa-4x"></i>

                    <h1 class="m-xs">330</h1>

                    <h3 class="font-extra-bold no-margins text-success">
                        Cars
                    </h3>
                   
                </div>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="pe-7s-trash fa-4x"></i>

                    <h1 class="m-xs">@ViewBag.blue%</h1>

                    <h3 class="font-extra-bold no-margins text-info">
                        Need Maintanance
                    </h3>
                    
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div id="map" class="panel-body">
            @section scripts{

                <style>
                    /* Always set the map height explicitly to define the size of the div
                    * element that contains the map. */
                    #map {
                        height: 400px;
                    }
                </style>

                <script>
                    var map;
                    var markers = "@ViewBag.Markers";
                    function initMap() {


                        var myLatLng = { lat: 21.412294, lng: 39.890611 };

                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 15,
                            center: myLatLng
                        });

                        var arry = markers.split(";");

                        for (i = 0; i < arry.length; i++) {
                            var sx = arry[i].split(",");
                            var color;
                            if (parseInt(sx[2]) > 70)
                                color = "red";
                            else if (parseInt(sx[2]) > 25 && parseInt(sx[2]) < 70) 
                                color = "orange";
                            else if (parseInt(sx[2]) < 0)
                                color = "blue";
                            

                            if (parseInt(sx[2]) > 25 || parseInt(sx[2]) < 0 ) {
                            var myLatLng2 = { lat: parseFloat(sx[0]), lng: parseFloat(sx[1]) };
                            var marker4 = new google.maps.Marker({
                                position: myLatLng2,
                                map: map,
                                icon: {
                                    path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                                    strokeColor: color,
                                    scale: 3
                                },
                                title: 'Trash level ' + parseInt(sx[2])
                                });
                                }
                        }

                    }

                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFYFdbDSVgurNBUU9H2WpqagVqmpavErQ&callback=initMap"
                        async defer></script>

            }

        </div>
    </div>
